Dataset
outputs
runs
slurm-*
transformers
*.tsv
LE
embedding_models
WordMoversEmbeddings/data
WordMoversEmbeddings/embedding_models
WordMoversEmbeddings/WME_tc_datasets_emnlp18
ohsumed_WMD_new.npy
WordMoversEmbeddings/mat_files
WordMoversEmbeddings/embedding_models
WordMoversEmbeddings/validation_save_dir
output_predictions_from_GYPSUM
WordMoversEmbeddings/embedding_models
WordMoversEmbeddings/*.mat
*.npy
*.mat
jax
